language: scala
sudo: false
scala:
  - 2.10.6
  - 2.11.11
  - 2.12.2
    
cache:
  directories:
  - $HOME/.ivy2/cache
  - $HOME/.sbt
    
before_cache:
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt -name "*.lock" -print -delete
