language: scala
sudo: false
scala:
  - 2.10.7
  - 2.11.12
jdk: openjdk7
matrix:
  include:
  - scala: 2.12.4
    jdk: oraclejdk8

cache:
  directories:
  - $HOME/.ivy2/cache
  - $HOME/.sbt
    
before_cache:
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt -name "*.lock" -print -delete

script:
  - sbt ++$TRAVIS_SCALA_VERSION test scripted